version: "3.9"

volumes:
  db:

services:
  autogpt:
    container_name: autogpt-prod
    image: dogtititi/autogpt-next-web:latest
    # build:
    #   context: .
    #   dockerfile: prod.Dockerfile
    #   args:
    #     NEXTAUTH_URL: https://yourdomain.com
    #     DATABASE_URL: mysql://user:password@mysql:3306/autogpt
    #     OPENAI_API_KEY: ${OPENAI_API_KEY}
    #     NEXT_PUBLIC_WEB_SEARCH_ENABLED: ${NEXT_PUBLIC_WEB_SEARCH_ENABLED}
    #     SERP_API_KEY: ${SERP_API_KEY}
    #     NEXT_PUBLIC_GUEST_KEY: ${NEXT_PUBLIC_GUEST_KEY}
    #     NEXT_PUBLIC_FF_AUTH_ENABLED: ${NEXT_PUBLIC_FF_AUTH_ENABLED}
    #     GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
    #     GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
    #     GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
    #     GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
    #     DISCORD_CLIENT_ID: ${DISCORD_CLIENT_ID}
    #     DISCORD_CLIENT_SECRET: ${DISCORD_CLIENT_SECRET}
    environment:
      NEXTAUTH_URL: ${NEXTAUTH_URL:-http://localhost:3000}
      DATABASE_URL: ${DATABASE_URL}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      NEXT_PUBLIC_WEB_SEARCH_ENABLED: ${NEXT_PUBLIC_WEB_SEARCH_ENABLED}
      SERP_API_KEY: ${SERP_API_KEY}
      NEXT_PUBLIC_GUEST_KEY: ${NEXT_PUBLIC_GUEST_KEY}
      NEXT_PUBLIC_FF_AUTH_ENABLED: ${NEXT_PUBLIC_FF_AUTH_ENABLED}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      DISCORD_CLIENT_ID: ${DISCORD_CLIENT_ID}
      DISCORD_CLIENT_SECRET: ${DISCORD_CLIENT_SECRET}
      NODE_ENV: production
    ports:
      - "3000:3000"
    volumes:
      - db:/app/db
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
